* {
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: #fdf8f5;
  color: #4f4846;
}
img {
  width: 250px;
  height: 250px;
}

h1 {
  margin: 20px;
}
h3 {
  font-size: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #4f4846;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: red;
}

header {
  position: fixed;
  border-bottom: 10px solid black;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4f4846;
  color: #fdf8f5;
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid white;
  background-color: rgb(211, 207, 207);
}
.footer h2 {
  font-size: 20px;
  background-color: red;
  color: #4f4846;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
